$transition: 0.2s;
$eye-button-width: 56px;
$left-space: 12px;

.RootContainer {
  opacity: 1;

  &.disabled {
    opacity: 0.5;
  }
}

.InnerContainer {
  width: 100%;
  position: relative;
}

.Label {
  transition: $transition;

  position: absolute;
  top: 8px;
  left: $left-space;

  &.big {
    top: 50%;
    transform: translate(0, -50%);

    font-size: 1.2rem;
    color: grey;
    cursor: text;
  }

  &.small {
    font-size: 0.8rem;
    color: black;
    cursor: default;

    font-weight: 500;
  }
}

.Input {
  width: 100%;
  padding: 26px $left-space 8px;
  border-radius: 6px;
  font-size: 1.2rem;
  background: rgb(255 255 255 / 50%);
  transition: $transition;

  &.password {
    padding-right: $eye-button-width;
  }

  &:hover:not(:disabled) {
    background: rgb(255 255 255 / 70%);
  }

  &:focus:not(:disabled) {
    background: rgb(255 255 255 / 90%);
  }
}

.EyeButton {
  height: 100%;
  width: $eye-button-width;

  position: absolute;
  right: 0;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  opacity: 0.5;

  &:hover:not(:disabled) {
    opacity: 1;
  }

  & > svg {
    width: 24px;
    height: 24px;
  }
}

.ErrorMessage {
  margin-top: 4px;
  color: red;
}
