.Root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  & > * {
    width: 100%;
  }

  & > :not(:first-child) {
    margin-top: 16px;
  }

  & > :last-child {
    margin-top: 32px;
  }
}

.Container {
  display: flex;
  flex-direction: column;
}

.ErrorMessage {
  color: red;
  margin-top: 16px;
  text-align: center;
}
