.Root {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  position: relative;

  padding: 12px 64px;
  border-radius: 8px;
  font-size: 1.4rem;
  background: #58daff;
  transition: 0.1s;

  &:hover,
  &:disabled {
    background: #50caec;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.Loader {
  height: 32px;
  width: 32px;

  border: solid 2px white;
  border-color: transparent white white white;
  border-radius: 50%;
  animation: rotate 1s infinite linear;

  position: absolute;
  left: 12px;
}
