:root {
  box-sizing: border-box;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
#root {
  height: inherit;
}

button {
  border: none;
  background: none;
  padding: 0;
}
