button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  user-select: none;
}

input {
  border: none;
  outline: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
