button {
  border: none;
  background: none;
  padding: 0;
  user-select: none;

  &:hover:not(:disabled) {
    cursor: pointer;
  }
}

input {
  border: none;
  outline: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
