.Root {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  padding: 0 32px;

  background-image: url('../../assets/images/main-background.jpg');
  background-size: cover;
  background-position: center;
  background-color: lightgrey;
}

.Main {
  display: flex;

  min-height: 60%;
  width: 400px;

  padding: 32px;
  border-radius: 8px;

  background: rgb(255 255 255 / 50%);
  backdrop-filter: blur(20px);
  box-shadow: 0 3px 20px 0 rgb(0 0 0 / 10%);
}
