.Root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 100%;
}

.Header {
  text-align: center;
  color: rgb(42 42 42);
  margin: 32px 0;
}

.Controls {
  & > :not(:first-child) {
    margin-top: 16px;
  }

  & > :last-child {
    margin-top: 32px;
  }
}

.SubmitContainer {
  display: flex;
  flex-direction: column;
}

.ErrorMessage {
  color: red;
  margin-top: 8px;
  text-align: center;
}
